@charset "UTF-8";
/*font-family: 'PT Sans', sans-serif;*/
/*roze claire-->#E839A7*/
/*roze foncé-->#B02280*/
body, html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Garamond', sans-serif;
}

a,a:hover{
  text-decoration: none;

}

.container-fluid{

  padding: 0;

}

.separator{
  height: 3px;
  width:5%;
  border: none;
  box-shadow: none;
  background-color: #E839A7;
}

.header{
  background-color: #E839A7;
  height: 70px;
  line-height: 70px;
      position: fixed;
    top: 0;
    width: 100%;
}
.logo,.logo:hover{
  color:#ffffff;
  font-size: 200%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  float: left;
}
.menu{
  float:right;
}

.menu a{
  color: #ffffff;
  margin-right: 20px;
}

.menu a:hover{
  color: #B02280;

}
